*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font-color: rgb(22, 22, 22);
    --secondary-font-color: rgb(245, 245, 245);
    --accent-font-color: rgb(171, 171, 8);

    --grey-background: rgb(74, 74, 74);
}

body {
    line-height: 1.6;
    font-family: Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 4.5rem;
}

.h-container {
    margin-left: 4rem;
    margin-right: 4rem;
}

.v-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

/* Main Navigation */
.main-navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.main-navigation-list-item {
    position: relative;
    overflow: hidden;
}

.main-navigation-list-item:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--grey-background);
    z-index: -1;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
    animation: loadBackground 0.8s forwards;
}

.main-navigation-list-item a {
    transition: color 1s;
}

.main-navigation-list-item:hover a {
    color: var(--secondary-font-color);
}

@keyframes loadBackground {
    100% {
        width: 100%;
    }
}

.main-navigation-list-item a {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    text-decoration: none;
    color: var(--main-font-color);
}

/* Sub Navigation */
.sub-navigation {
    font-size: 12px;
    padding: 5px 42px;
    border-top-left-radius: 5px;
    background-color: var(--grey-background);
    clip-path: polygon(0 0, 99.6% 0, 100% 100%, 0% 100%);
}

.sub-navigation-list {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 2.8rem;
}

.sub-navigation-list-item a {
    text-decoration: none;
    color: var(--secondary-font-color);
}

.sub-navigation-list-item a:hover {
    color: var(--accent-font-color);
}

/* Header */
.header-image {
    position: relative;
    background: linear-gradient(to right top, rgba(10, 10, 10, 0.616), rgba(145, 157, 12, 0.16)),
        url("./static/header-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 52vh;
}

.header-image .header-title,
.header-image .header-claim {
    position: absolute;
    color: var(--secondary-font-color);
    bottom: 4.2rem;
    left: 3.8rem;
}
