@import url("variables.css");

.footer {
    background-color: var(--grey-background);
    padding: 1.2rem 3.2rem;
    min-height: 10rem;
    position: relative;
    border-radius: 5px;
}

.footer-navigation {
    position: absolute;
    bottom: 2.2rem;
    right: 4rem;
}
