@import url("variables.css");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 1.2rem;
}

.h-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.v-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

@media (min-width: 680px) {
    .h-container {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .v-container {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

}
