.navigation-list {
    list-style: none;
    display: flex;
}

.navigation-list-item a {
    text-decoration: none;
}

.main-navigation-list {
    justify-content: space-between;
}

@keyframes loadBackground {
    100% {
        width: 100%;
    }
}

.main-navigation-list-item a {
    display: inline-block;
    padding: 0 1.2rem;
    text-decoration: none;
    color: var(--main-font-color);
}

.sub-navigation {
    font-size: 12px;
    padding: 5px 22px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--grey-background);
}

.sub-navigation-list {
    justify-content: end;
    gap: 1.8rem;
}

.sub-navigation-list-item a {
    color: var(--secondary-font-color);
}

.sub-navigation-list-item a:hover {
    color: var(--accent-font-color);
}

.footer-navigation-list {
    justify-content: space-evenly;
    column-gap: 2rem;
}

.footer-navigation-list .navigation-list-item a {
    color: var(--secondary-font-color);
}

.footer-navigation-list .navigation-list-item a:hover {
    color: var(--accent-font-color);
}

@media (min-width: 680px) {
    .main-navigation-list {
        justify-content: space-between;
    }

    .main-navigation-list-item {
        position: relative;
        overflow: hidden;
    }

    .main-navigation-list-item:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--grey-background);
        z-index: -1;
        clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
        animation: loadBackground 0.4s forwards;
    }

    .main-navigation-list-item a {
        color: var(--secondary-font-color);
        transition: color 0.4s;
    }

    .main-navigation-list-item:hover a {
        color: var(--secondary-font-color);
    }

    .main-navigation-list-item a {
        display: inline-block;
        padding: 1.2rem 2.8rem;
        text-decoration: none;
        color: var(--main-font-color);
    }

    .sub-navigation-list {
        gap: 2.8rem;
    }
}
